.img-calendar {
  width: 2rem;
}

#date1 {
  display: none;
}
#date2 {
  display: none;
}
#date3 {
  display: none;
}
#date4 {
  display: none;
}
#date5 {
  display: none;
}
#date6 {
  display: none;
}
#date7 {
  display: none;
}
#date8 {
  display: none;
}
#date9 {
  display: none;
}
#date10 {
  display: none;
}
#date11 {
  display: none;
}
#date12 {
  display: none;
}
#date13 {
  display: none;
}
#date14 {
  display: none;
}
