.title-section {
  font-size: 1.5rem;
}
.next-match-span {
  font-size: 0.8rem;
}
.next-match-imgteam {
  width: 3rem;
  margin: 1rem;
}
.scorers-img {
  width: 1.9rem;
  margin-right: 0.5rem;
}
.scorers-goals {
  margin-right: 2rem;
}
.div-m {
  margin: 0 3rem 0 3rem;
}
