.matches-section-2 {
    margin-top: 1rem;
}

.table-item {
    font-size: 0.8rem;
}

.league-item-img-team {
    width: 1.3rem;
}

.matches-item-img-logo-v1 {
    margin-bottom: 1.5rem;
}
