.matches-button {
  margin: 2rem;
}

.matches-button a {
  color: white;
}

.matches-section-1 {
  margin: 0.7rem 0.7rem;
}

.matches-div-pad {
  margin-top: 2rem;
}

.matches-item-p {
  font-size: 1rem;
}

.matches-item-img-logo {
  width: 2rem;
}

.matches-item-span {
  font-size: 0.7rem;
}

.matches-item-team-img {
  width: 1.5rem;
  margin-right: 0.8rem;
}

.matches-item-linea {
  border-top: 1px solid black;
  height: 90%;
  max-width: 95%;
  margin: 20px auto 0 auto;
}
